<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>MorePush</string>
			<key>type</key>
			<string>1</string>
			<key>name</key>
			<string>推送和提醒</string>
			<key>row</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>handShake</string>
			<key>type</key>
			<string>2</string>
			<key>name</key>
			<string>摇一摇机选</string>
			<key>row</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sound_Effect</string>
			<key>type</key>
			<string>2</string>
			<key>name</key>
			<string>声音效果</string>
			<key>row</key>
			<string>2</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>MoreUpdate</string>
			<key>type</key>
			<string>1</string>
			<key>name</key>
			<string>检查新版本</string>
			<key>row</key>
			<string>3</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>MoreHelp</string>
			<key>type</key>
			<string>1</string>
			<key>name</key>
			<string>帮助</string>
			<key>row</key>
			<string>4</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>MoreShare</string>
			<key>type</key>
			<string>1</string>
			<key>name</key>
			<string>分享</string>
			<key>row</key>
			<string>5</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>MoreMessage</string>
			<key>type</key>
			<string>1</string>
			<key>name</key>
			<string>查看更多</string>
			<key>row</key>
			<string>6</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>MoreNetease</string>
			<key>type</key>
			<string>1</string>
			<key>name</key>
			<string>产品推荐</string>
			<key>row</key>
			<string>7</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>MoreAbout</string>
			<key>type</key>
			<string>1</string>
			<key>name</key>
			<string>关于</string>
			<key>row</key>
			<string>8</string>
		</dict>
	</array>
</array>
</plist>
